[Unit]
Description=Resource Management Backend
After=network.target

[Service]
Type=simple
User=ritesh
WorkingDirectory=/home/ritesh/backend
Environment="PATH=/home/ritesh/backend/venv/bin"
ExecStart=/home/ritesh/backend/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
